.navbar{
    background-color: #61dafb;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    align-items: center;
}
.navbar .logo{
    margin: 10px;
}
.navbar .nav-links{
    display: flex;
}
.navbar .nav-links li{
    margin: 10px;
    list-style: none;
    text-transform: uppercase;
}